<html>
    <head>
        <title>Ajouter un collaborateur</title>
    </head>
    <body>
        <form action="/user/addcollab" method="post">
            <input type="text" name="name">
            <input type="text" name="surname">
            <input type="text" name="center">
            <input type="text" name="work">
            <input type="text" name="mark">
            <input type="submit" value="Ajouter">
        </form>
    </body>
</html>