<html>
    <head>
        <title>Collabs</title>
    </head>
    <body>
        <% collabs.forEach(function(collab) { %>
            <%collab.name%> <a href="/deletecollab/collab._id">x</a>
        <% }) %>
    </body>
</html>