<html>
    <head>
        <title>Sign up</title>
    </head>
    <body>
        <%- include('./partials/messages.ejs') %>
        <form action="/register" method="post">
            Nom <br>
        <input type="texte" name="name" ><br>
            Prenom <br>
        <input type="texte" name="surname" ><br>
            Email <br>
        <input type="email" name="email"><br>
            Password <br>
        <input type="password" name="password"><br>
            RH <br>
        <input type="texte" name="rh"><br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>