<html>
    <head>
        <title>Collabs page</title>
    </head>
    <body>
        <form action="/signal/<%= id %>" method="post">
            <input type="text" placeholder="Details" name="details">
            <input type="submit" value="Signaler">
        </form>
    </body>
</html>